/* Отступы */
*{
    margin: 0;
    padding: 0;
}

html{
    height: fit-content;
}
.content{
    width: 100%;
    height: fit-content;
    background-color: #f7f7f7;
}

.shad{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
}

.dark{
    background-color: #fc8507;
}

.white{
    background-color: #fd9d2a;
}

/* пустая строка */
.none{
    height: 20px;
}

/* Шапка */
.head_block{
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}

.catalog_block{
    width: 33%;
    height: 80%;
    border-radius: 20px;
    display: flex;
}

.site_name{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.site_name p{
    color: white;
    height: fit-content;
    font-size: 22px;
    text-align: center;
}

.catalog{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.catalog_block2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.catalog_block2 p{
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
}

.search_block{
    width: 50%;
    height: 80%;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.search_block input{
    background-color: #f7f7f7;
    font-size: 18px;
    border: none;
    width: 93%;
    height: 80%;
    outline:none;
}

.contentt{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: rgb(246, 246, 246);
}

.sidebar{
    width: 20%;
    height: 60%;
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 70px;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border-radius: 15px;
}

.content_body{
    width: 70%;
    height: 1200px;
    margin-top: 80px;
    margin-left: 25%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 10px;
}

.item_block{
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    width: 80%;
}

.description p{
    font-size: 20px;
    margin-top: 10px;
    text-indent: 10px;
}

.description p:first-child{
    font-weight: 900;
    font-size: 28px;
    text-indent: 0;
}


.imgb{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imgb img{
    height: 100%;
    width: a;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button { 
    display:none;
}

.block{
    width: 100%;
    height: 200px;
}

.category{
    height: fit-content;
    width: 100%;
}


.subcategory{
    height: fit-content;
    width: 100%;
}

.block_child{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-indent: 10px;
    font-size: 22px;
    color: white;
}